<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/signupstyle.css">

</head>

<body style="margin: 0px; background: rgb(241, 242, 246);" class="">
    <div id="__nuxt">
        <!---->
        <div id="__layout">
            <div class="auth">
                <div class="register-container pb-5">
                    <div class="register-header-box">
                        <div class="overlay">
                            <div class="register-header-logo d-flex justify-content-between p-4">
                                <div class="back">
                                    <a href="" class="text-decoration-none text-white font-weight-bold btn-comback">
                                        <ion-icon name="arrow-back-outline"></ion-icon>
                                        Quay lại
                                    </a>
                                </div>
                                <div class="logo">
                                    <a href=""><img class="logo-img" src="images/logo.png" alt=""></a>
                                    <div class="logo-back"></div>
                                </div>
                            </div>
                            <div class="register-header-description max-width mx-auto">
                                <h2>Đăng ký tài khoản Nhà tuyển dụng</h2>
                                <p class="slogan mb-0">
                                    Cùng tạo doanh nghiệp cùng CARREERHUNT
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="content-container shadow-sm rounded max-width">
                        <div class="policy-box">
                            <div role="button" data-toggle="collapse" data-target=".policy-expand"
                                 class="policy-expand-btn d-flex justify-content-between align-items-center">
                                <span class="text-dark font-weight-bold">Quy định</span>
                                <span class=""></span>
                            </div>
                            <div class="policy-expand collapse show fade">
                                <div class="register-policy">
                                    Để đảm bảo chất lượng dịch vụ, CARREERHUNT <span class="text-danger">
                                        không cho phép một
                                        người dùng tạo nhiều tài khoản khác nhau
                                    </span>. <br />
                                    Nếu phát hiện vi phạm, CARREERHUNT sẽ ngừng cung cấp dịch vụ tới tất cả các tài khoản
                                    trùng lặp hoặc chặn toàn bộ truy cập tới hệ thống website. <br />
                                    Đối với trường hợp khách hàng đã sử dụng hết tin tuyển dụng miễn phí, CARREERHUNT sẽ hỗ trợ
                                    kích hoạt đăng tin tuyển dụng không giới hạn sau khi quý doanh nghiệp đăng ký gói kinh doanh của chúng tôi
                                    <br />
                                    <div class="py-2">Mọi thắc mắc vui lòng liên hệ Hotline CSKH:</div>
                                    <div class="d-flex">
                                        <div class="contact-1">
                                            <button class="btn rounded-circle transparent-1 py-1 px-2 btn-primary mr-2">
                                                <ion-icon class="phone-icon" name="call-outline"></ion-icon>
                                            </button>
                                            <span class="font-weight-bold">(099) 99999999</span>
                                        </div>
                                        <div>
                                            <button class="btn rounded-circle transparent-1 py-1 px-2 btn-primary mr-2">
                                                <ion-icon class="phone-icon" name="call-outline"></ion-icon>
                                            </button>
                                            <span class="font-weight-bold">0123 456789</span>
                                        </div>
                                    </div>
                                    <div class="py-2">
                                        <span class="text-muted mr-2">Đã có tài khoản?</span>
                                        <a href="login.html" class="text-primary">
                                            Đăng nhập ngay
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white register-form position-relative">
                            <form autocomplete="off" role="presentation">
                                <div class="mb-3">
                                    <span class="font-weight-bold">TÀI KHOẢN</span>
                                    <div class="underline"></div>
                                    <div class="form-group">
                                        <label for="email" class="col-form-label text-dark">
                                            Email đăng nhập:
                                        </label>
                                        <div class="col-form-input">
                                            <div>
                                                <div class="input-container ml-auto position-relative">
                                                    <!---->
                                                    <!---->
                                                    <input id="" type="text" placeholder="Email"
                                                           autocomplete="off" class="form-control" />
                                                    <!---->
                                                </div>
                                                <!---->
                                            </div>
                                            <div class="text-muted mt-1">
                                                *CARREERHUNT khuyến nghị đăng ký bằng email công ty
                                                (theo tên miền website công ty) để được hỗ trợ duyệt tin nhanh.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-form-label text-dark">
                                            Mật khẩu:
                                        </label>
                                        <div class="col-form-input">
                                            <div>
                                                <div class="input-container ml-auto position-relative">
                                                    <!---->
                                                    <!---->
                                                    <input id="" type="password"
                                                           placeholder="Mật khẩu (từ 6 đến 25 ký tự)"
                                                           autocomplete="new-password" class="form-control"
                                                           aria-autocomplete="list" />
                                                    <!---->
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password_confirmation" class="col-form-label text-dark">
                                            Nhập lại mật khẩu:
                                        </label>
                                        <div class="col-form-input">
                                            <div>
                                                <div class="input-container ml-auto position-relative">
                                                    <!---->
                                                    <!---->
                                                    <input id="OPEniQHzdS" type="password"
                                                           placeholder="Nhập lại mật khẩu" autocomplete="new-password"
                                                           class="form-control" />
                                                    <!---->
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <span class="font-weight-bold">THÔNG TIN NHÀ TUYỂN DỤNG</span>
                                    <div class="underline"></div>
                                    <div class="form-group">
                                        <label for="fullname" class="col-form-label text-dark">
                                            Họ và tên:
                                        </label>
                                        <div class="col-form-input">
                                            <div>
                                                <div class="input-container ml-auto position-relative">
                                                    <!---->
                                                    <!---->
                                                    <input id="zoFOgdAdxv" type="text" placeholder="Họ tên"
                                                           autocomplete="true" class="form-control" />
                                                    <!---->
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" class="col-form-label text-dark">
                                            Số điện thoại cá nhân:
                                        </label>
                                        <div class="col-form-input">
                                            <div data-v-55ff225c="" class="mask-input">
                                                <input data-v-55ff225c="" placeholder="Số điện thoại cá nhân"
                                                       class="form-control hidden-spin-button" />
                                                <!---->
                                                <!---->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" class="col-form-label text-dark">
                                            Giới tính:
                                        </label>
                                        <div class="col-form-input">
                                            <div data-v-55ff225c="" class="mask-input">
                                                <input data-v-55ff225c="" placeholder="Giới tính"
                                                       class="form-control hidden-spin-button" />
                                                <!---->
                                                <!---->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="company-name" class="col-form-label text-dark">
                                            Tên Công ty:
                                        </label>
                                        <div class="col-form-input">
                                            <div>
                                                <div class="input-container ml-auto position-relative">
                                                    <!---->
                                                    <!---->
                                                    <input id="REhjXZsNQI" type="text" placeholder="Tên công ty"
                                                           autocomplete="true" class="form-control" />
                                                    <!---->
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="employer_position" class="col-form-label text-dark">
                                            Vị trí làm việc
                                        </label>
                                        <div class="col-form-input">
                                            <div>
                                                <div class="input-container ml-auto position-relative">
                                                    <!---->
                                                    <!---->
                                                    <input id="REhjXZsNQI" type="text" placeholder="Vị trí làm việc"
                                                           autocomplete="true" class="form-control" />
                                                    <!---->
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="employer_position" class="col-form-label text-dark">
                                            Địa điểm làm việc
                                        </label>
                                        <div class="col-form-input">
                                            <div>
                                                <div class="input-container ml-auto position-relative">
                                                    <!---->
                                                    <!---->
                                                    <input id="REhjXZsNQI" type="text" placeholder="Địa điểm làm việc"
                                                           autocomplete="true" class="form-control" />
                                                    <!---->
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-check">
                                        <div class="custom-control custom-checkbox form-check-input my-0"
                                             type="checkbox">
                                            <input id="522JRIEr" type="checkbox" class="custom-control-input"
                                                   value="false" /> <label for="522JRIEr"
                                                                           class="custom-control-label"></label>
                                        </div>
                                        <label class="form-check-label">
                                            Tôi đồng ý với
                                            <a href="" target="_blank"
                                               class="text-format text-decoration-none">
                                                &nbsp;Điều khoản dịch vụ&nbsp;
                                            </a>
                                            của TopCV.
                                        </label>
                                    </div>
                                </div>
                                <div class="text-center mb-0 mt-4 action-container">
                                    <button type="button" class="btn min-width btn-secondary btn-lg mr-3">
                                        <!---->
                                        Hủy
                                    </button>
                                    <button type="submit" class="btn min-width btn-primary btn-lg">
                                        <!---->
                                        Hoàn tất
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <iframe height="1" width="1"
            style="position: absolute; top: 0px; left: 0px; border: none; visibility: hidden;"></iframe>
    <script>
        window.__NUXT__ = { config: {}, staticAssetsBase: void 0 };
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>


</html>